.game-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
}

.game-details p {
    padding: 0.5vw;
}

#gameCanvas {
    background-color: $color-light-green;
    border: 4px solid $color-dark-green;
}

.game-text {
    font-size: 50px;
    text-align: center;
}

.info-container__difficulty {
    text-align: center;
}



.info-container__reset {
    display: none;
}

.controller-hide {
    display: none;
}

.controller {
    display: grid;
    grid-template-areas: 
        ". up ."
        "left . right"
        ". down .";
}

.controller-button_up {
    grid-area: up;
}

.controller-button_right {
    grid-area: right;
}

.controller-button_down {
    grid-area: down;
}

.controller-button_left {
    grid-area: left;
}

@media screen and (max-width: 600px) {
    .game-details,
    #infoText {
        font-size: 8px;
    }

    .info-container__difficulty p, 
    .info-container__difficulty button,
    .info-container__reset button{
        font-size : 10px;
    }

}