body {
    background-color: $color-light-green;
    overflow-y: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;;
}

.game-container {
    position: relative;
}


.info-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#infoText {
    padding: 1vw 0 1vw 0;
}

p {
    padding: 1vw;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

.github {
    display: flex;
    align-items: baseline;
    padding-right: 1rem;
}

@media screen and (max-width: 600px) {
    .footer{
        font-size: 8px;
    }
}